* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

.el-table {
  th {
    padding: 0;
    height: 48px;
    background: #f6f6f6;
  }

  td {
    padding: 0;
    height: 52px;
  }
}

.el-table--scrollable-x {
  .el-table__body-wrapper {
    /*修改滚动条样式*/
    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: #cccbcb;
      border-radius: 5px;
    }
  }
}
.el-table__fixed, .el-table__fixed-right{
  height: calc(100%) !important;
  z-index: 1;
}
.el-table__body-wrapper{
  height: calc(100% - 48px) !important;
}