.mg10{
 margin:10px;
}
.mg10-up-down{
  margin:10px 0px;
}
.mg15-up-down{
  margin:15px 0px;
}
.mg10-left-right{
  margin: 0 10px;
}
.mg15-left-right{
  margin: 0 15px;
}
.pd10{
  padding:10px
}
.pd15{
  padding: 15px;
}