.Englist {
  font-family: "Regular";
  src: url('Montserrat-Regular/Montserrat-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

.Chinese{
  font-family: "Microsoft YaHei";
  font-weight: 400;
  font-style: normal;
}
