@font-face {
  font-family: "Bold";
  src: url('Montserrat-Bold/Montserrat-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Light";
  src: url('Montserrat-Light/Montserrat-Light.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Medium";
  src: url('Montserrat-Medium/Montserrat-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Regular";
  src: url('Montserrat-Regular/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}